
.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
.gradle/8.4/dependencies-accessors/executionHistory.bin
.gradle/8.4/executionHistory/executionHistory.bin
.gradle/8.4/executionHistory/executionHistory.lock
.gradle/8.4/fileHashes/fileHashes.bin
.gradle/8.4/fileHashes/fileHashes.lock
.gradle/8.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/configuration-cache/2fjeno0skrdbri0x2g36vl2wn/buildfingerprint.bin
.gradle/configuration-cache/2fjeno0skrdbri0x2g36vl2wn/work.bin
.gradle/kotlin/sessions/kotlin-compiler-8595803980924965191.salive
local.properties
.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
.gradle/8.4/executionHistory/executionHistory.bin
.gradle/8.4/executionHistory/executionHistory.lock
.gradle/8.4/fileHashes/fileHashes.bin
.gradle/8.4/fileHashes/fileHashes.lock
.gradle/8.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/config.properties
.gradle/configuration-cache/2fjeno0skrdbri0x2g36vl2wn/work.bin
.gradle/file-system.probe
.gradle/kotlin/sessions/kotlin-compiler-8744375768028388429.salive
