<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissões de Internet. Não mexer. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectoFinalTeamJR"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".faltasAdministrador.FaltasAdminVisualizarModulosFaltasActivity"
            android:exported="false" />
        <activity
            android:name=".faltasAdministrador.FaltasAdminVisualizarFormandoListActivity"
            android:exported="false" />
        <activity
            android:name=".faltasAdministrador.MenuFaltasAdminActivity"
            android:exported="false" />
        <activity
            android:name=".NotasFormandosActivity"
            android:exported="false" />
        <activity
            android:name=".turmas.CriarTurmaActivity"
            android:exported="false" />
        <activity
            android:name=".faltasAdministrador.FaltasAdminFormandoFaltasActivity"
            android:exported="false" />
        <activity
            android:name=".faltasAdministrador.FaltasAdminModuloListActivity"
            android:exported="false" />
        <activity
            android:name=".faltasAdministrador.FaltasAdminFormandoListActivity"
            android:exported="false" />
        <activity
            android:name=".cursos.AdicionarCursoActivity"
            android:exported="false" />
        <activity
            android:name=".faltasAdministrador.FaltasAdminActivity"
            android:exported="false" />
        <activity
            android:name=".cursos.DetalhesCursoFormandoActivity"
            android:exported="false" />
        <activity
            android:name=".CursosFormandoActivity"
            android:exported="false" />
        <activity
            android:name=".faltasFormando.DetalhesFaltaActivity"
            android:exported="false" />
        <activity
            android:name=".turmas.DetalheTurmaActivity"
            android:exported="false" />
        <activity
            android:name=".modulos.DetalhesModuloActivity"
            android:exported="false" />
        <activity
            android:name=".cursos.ModulosDoCursoActivity"
            android:exported="false" />
        <activity
            android:name=".modulos.EditarModuloActivity"
            android:exported="false" />
        <activity
            android:name=".turmas.TurmasActivity"
            android:exported="false" />
        <activity
            android:name=".cursos.EditarCursoActivity"
            android:exported="false" />
        <activity
            android:name=".faltasFormando.MainFaltasActivity"
            android:exported="false" />
        <activity
            android:name=".modulos.AdicionarModuloActivity"
            android:exported="false" />
        <activity
            android:name=".MenuFormandoActivity"
            android:exported="false" />
        <activity
            android:name=".MenuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".cursos.DetalhesCursoActivity"
            android:exported="false" />
        <activity
            android:name=".MainPerfilActivity2"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cursos.CursosActivity"
            android:exported="false" />
        <activity
            android:name=".modulos.ModulosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>